h1
{
text-align:center;
color:black;
font-family:verdana;
font-size:35px;
}
body {
  background-image: url('agri.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}
h2
{
text-align:center;
color:black;
font-family:verdana;
font-size:1px;
}
form
{
position=:relative;
z-index:1;
background:#6dc066;
max-width:360 px;
margin:auto 100px;
padding:45px;
text-align:center;
}
form input
{
font-family:"Roboto",sans-serif;
outline:1;
backgroubd:#ffffff;
width:100%;
border:10px;
margin:15px;
padding:15px;
box-sizing:border-box;
font-size:14px;
}
form button
{
font-family:"Roboto",sans-serif;
text-transform:uppercase;
outline: 0;
background:$4CAF50;
width:100%;
border:10px;
padding: 15px;
color:#ffffff;
font-size:14px;
cursor:pointer;
}
p
{
	font-family:"lato";
	font-size:30px;
	text-align:left;
	color:white;
	
}
a{
	color:#00ffff;
	
